#product{
    display:grid;
    grid-template-columns: repeat(3,320px);
    grid-gap: 20px;
    width:80%;
    margin:auto;
}
#innerchild{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     border-radius: 10px;
}
#innerchild>p{
    margin-left:10px;
    font-size: 18px;
    font-family: din-2014 sans-serif;
    font-weight: bold;
}
#innerchild>P:nth-child(4){
    color:grey;
    font-size: 18px;
}

#innerchild>img{
    width:80%;
    margin-left:10%;
    transition: transform .2s;
    margin-top:10px;
    margin-bottom:10px;
}
#innerchild>img:hover{
    cursor: pointer;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.0); /* Safari 3-8 */
    transform: scale(1.1); 
    
    
    
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}
#navcont{
    position:fixed;
    margin-left:5%;
}
#hd{
    text-decoration: underline;
    text-decoration-color: rgb(243, 199, 199);
    text-decoration-thickness: 10px;
    text-align: center;
    margin-top:200px;
    margin-bottom:50px;
}
@media only screen and (min-width:0px) and (max-width:320px) {
    #product{
        display:grid;
        grid-template-columns: repeat(1,230px);
        grid-gap: 20px;
        width:80%;
        margin:auto;
    }
}

@media only screen and (min-width:321px) and (max-width:720px) {
    #product{
        display:grid;
        grid-template-columns: repeat(2,250px);
        grid-gap: 20px;
        width:80%;
        margin:auto;
    }
}
